{% load static %}
        <script src="{% static 'leaflet-gpx/js/leaflet-1.5.1.js' %}"></script>
        <script src="{% static 'leaflet-gpx/js/leaflet-gpx-1.4.0.js' %}"></script>
        <script src="{% static 'leaflet-gpx/js/leaflet-gpx-map.js' %}"></script>